#historia p {
  font-family: Times New Roman ;
  font-size: 13pt;
  color: red;
}

#cuerpo div * span {
  font-family: Comic Sans MS ;
  font-size: 12pt;
  color: green;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

h3+div{
  font-family: Tahoma ;
  font-size: 14pt;
  color: blue;
  text-transform: uppercase;
}

#historia ol>li {
  color: #1C5C25;
}

li {
  color: #520909;
}
