body{
    font-family: "Comic Sans";
    font-size: 10pt;
    margin: 8mm 1cm 5mm 1.5cm;
    text-indent: 0.4in;

}
h1,h2,h3,h4,h5,h6{
    font-family: Cambria;
}
h1{
    font-size: 3em;

}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 2em;
}
h4{
    font-size: 1.5em;
}
a[href]{
 color: #7c1b43;
}
a:active[href]{
    color: yellow;
}
a:visited[href]{
    color: darkgreen;
}
p:hover{
    color: gold;
    font-size: 2rem;
}
#monumetos div[class~="primero"] >h3:first-child{
    text-shadow: #4E4E4E 3px 4px , #231 5px 6px , #43E 7px 8px ,#000 9px 11px;
}

div[class] div:nth-child(2):first-line{
    font-style: italic;
    font-weight: bold;
}
#monumetos * p:first-letter{
    font-size: 1.5em;
    color:blue;
}
div[class$="ro"]>div[class$="cero"]:before{
    content: "Cordoba";
    font-family: Calibri;
    font-size: 1.3em;
    color: green;
}
[class*="parti"]:after {
    content: url("imagenes/mezquita.jpg");
}
div[id$="re"] >p{

    border:dotted;
    border-color: #1C5C25 #0B08BD #1C5C25 #0B08BD;
    border-width: 0.3em 0.4em 0.3em 0.4em;


}
[id*="met"]>div:nth-child(3){
    background: linear-gradient(65deg, #355e7c 30%, #382c7c 40%, #7c6923 60%,#1e7c48 70% ) ;


}
div>div:only-child{
    padding-left: 4mm;
    padding-bottom: 2mm;
    border-color: transparent;
    border-width: 2mm;
    outline-color: deeppink;
    outline-width: 2mm;
    background-color: saddlebrown;
    background-clip: content-box;

}
div[class="espacio"]:after{
    content: "Sin Contenido";
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #1C5C25;

}
[class~="nuevo"] div:-moz-only-whitespace{
width: 400px;
    height: 300px;
    background: linear-gradient(65deg, #355e7c 30%, #382c7c 40%, #7c6923 60%,#1e7c48 70% ,#7c1511 80%) ;
}
#musulmana>div{
    height: 300px;
    width: 400px;
    border-style: dotted;
    border-color: silver;
    writing-mode: vertical-lr;
    text-orientation:upright;



}
#musulmana>div:last-child{
    writing-mode: horizontal-tb;
}
#musulmana>div:nth-child(2){
    writing-mode: horizontal-tb;
}
#romana>div{
    border-style: dashed;
    border-color: #1C5C25;

}
