div{
  border-top: 2px double orange;
  border-bottom: 1px dotted yellow;
  border-left: 3px dashed brown;
  border-right: 1px groove #A292A4;
  padding: 5px 3px 2px 7px;
  text-decoration: overline 5px #7C0707;
  text-shadow: -4px 4px #4A5860;
  background: #B2EBA9 padding-box;
  margin: 20px 15px 10px 30px;
}
body{
  background-color: #C2AD85;
}

/*Coge el fichero practica-02-05.rar y al párrafo <div> del fichero
salamanca.html aplica las siguientes características:
i.borde superior de 2px trazo doble de color naranja
ii.borde inferior de 1px trazo de punto de color amarillo
iii.borde izquierdo de 3px trazo discontinuo de color marrón
iv.borde derecho de 1px trazo tipo tejado de color A292A4
v.relleno superior 5px
vi.relleno izquierdo 7px
vii.relleno derecho 3px
viii.relleno inferior 2px
ix.sobrelínea de 5px
x.color sobrelínea 7C0707
xi.sombra izquierda y abajo en color 4A5860
xii.color de fondo del párrafo B2EBA9 a partir del relleno
xiii.color de fondo del documento C2AD85
xiv.margen superior 20px
xv.margen izquierdo 30px
xvi.margen derecho 15px
xvii.margen inferior 10px */
