#cuerpo div{
  font-family: Calibri;
  font-size: 11pt;
  font-style: italic;
  color: #324EED;
  background-color: #4D8365;
  line-height: 160%;
  height: 200px;
  width: 600px;
}

p{
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: #C1C9C9;
  background-color: #BEC079;
  line-height: 200%;
}

img {
  height: 50px;
  width: 50px;
}
